<div class='wrapper-all-products'>
    <div class='all-products-header'>
        <nav aria-label='breadcrumb'>
            <ol class='breadcrumb'>
                <li class='breadcrumb-item'><a href='/'>Home</a></li>
                <li class='breadcrumb-item'><a href='/shop/all-products'>Shop</a></li>
                <li class='breadcrumb-item active' aria-current='page'>All Products</li>
            </ol>
        </nav>
    </div>

    <div class='row'>
        <div class='col-20'>
            
        </div>
        <div class='col-80'>
            <h1>B</h1>
        </div>
    </div>
</div>